@font-face{
    font-family: "principal";
    src: url(../fonts/AbhayaLibre-Regular.ttf);
}

@font-face{
    font-family: "decorativa";
    src: url(../fonts/Courgette-Regular.ttf);
}

$font-decorativa: "decorativa";
$font-principal: "principal";